* {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

body {
	color: #005186;
	font-size: 13px;
}

i {
	width: 14px;
	height: 14px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

i.icon-phone {
	background-image: url('images/phone.png');
}

i.icon-email {
	background-image: url('images/mail.png');
}

.container {
	padding-top: 50px;
	margin: 0 auto;
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

#tabs {
	display: flex;
	justify-content: space-around;
}

#tabs .tab {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 120px;
	height: 35px;
	background: orange;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
}

h1 {
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
}

#form-data {
	max-width: 300px;
}

input {
	appearance: none;
	-webkit-appearance: none;
	height: 30px;
	padding-left: 12px;
	min-width: 250px;
	display: block;
	margin-bottom: 10px;
	border: 1px solid #c1bfbf;
	outline: none;
}

input.error {
	border-color: red;
}
input.success {
	border-color: green;
}

textarea {
	appearance: none;
	-webkit-appearance: none;
	height: 60px;
	padding-top: 10px;
	padding-left: 12px;
	min-width: 250px;
	border: 1px solid #c1bfbf;
}

/*.container-signature {
	display: none;
}*/

#signature {
	display: inline-block;
	width: auto;
    display: -webkit-flex; /* Safari */
    display: flex;
    align-items: flex-start;
    padding: 8px 10px;
    max-width: 670px;
}

.logo {
	min-width: 206px;
	height: 99px;
	background: url('images/compre-bem/logo.jpg') center center no-repeat;
}

.contacts {
	display: flex;
	flex-direction: column;
	border-left: 4px solid #005186;
	margin-left: 15px;
	padding-left: 15px;
}

#phone2-container {
	display: none
}

h2 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 3px;
}

#info-loja {
	margin-bottom: 5px;
}

#cargo-area {
	margin-bottom: 10px;
}

button {
	margin-top: 30px;
	text-transform: uppercase;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
	border-radius: 4px;
	border: none;
	padding: 15px 20px;
	background: #CCCCCC;
	color: #000000;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
	font-weight: 700;
	cursor: pointer;
	transition: all .5s linear;
}
button:hover {
	background: #AAAAAA;
}

.logo-jota {
	width: 90px;
	height: 28px;
	background: url('images/logo-jota.png') center center no-repeat;
	display: block;
	margin-right: 0;
	margin-left: auto;
	margin-top: 10px;
}

#phones > span {
	display: block;
}

.layout-loja #phones {
	margin-bottom: 10px;
}


.layout-escritorio #email-area {
	margin-bottom: 10px;
}